### Jupyter사용 방법
* h : help
- a, b : 셀 추가
* m,y : 마크업 또는 코드
* dd : 셀 한칸 삭제
* ctrl + enter : 실행

In [1]:
# pandas 불러옴
import pandas as pd

In [18]:
# 데이터 읽기
df = pd.read_csv("1.pandas.csv")

In [6]:
df

   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [7]:
print(df)

   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [8]:
name="홍길동"
age = 20;
name
age

20

In [9]:
#[] series 형식으로 가져옴
print(df[['name']])
print(df.age)

   name
0   Kim
1   Cho
2  Choi
3    jo
0    20
1    30
2    40
3    50
Name: age, dtype: int64

In [10]:
#[[]] DataFrame 형식으로 가져옴
#여러개의 값을 가져오고자 하는 경우[[]]
print(df[['name','age']])

   name  age
0   Kim   20
1   Cho   30
2  Choi   40
3    jo   50

In [11]:
#인덱싱 : 인덱스의 범위를 지정한다
print(df[1:3]) #1~2까지의 데이터
print(df[:3]) # 처음부터~2까지의 데이터
print(df[1:]) # 1~끝까지의 데이터

   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [12]:
#loc : Df.loc[index조건식, 컬럼 조건식]
print(df.loc[1:3,'name'])
print(df.loc[1:3, ['name','score']])
print(df.loc[ : , 'name':'grade'])
print(df.loc[1:3, ])

1     Cho
2    Choi
3      jo
Name: name, dtype: object
   name  score
1   Cho   95.0
2  Choi   90.5
3    jo   85.7
   name  score grade
0   Kim  100.0     A
1   Cho   95.0     A
2  Choi   90.5     B
3    jo   85.7     B
   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [13]:
print(df.loc[1:3, ])
print("=================")
print(df['grade'] =='A')
print(df [df['grade']=='A'])

   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50
=================
0     True
1     True
2    False
3    False
Name: grade, dtype: bool
  name  score grade  age
0  Kim  100.0     A   20
1  Cho   95.0     A   30